    *,
     ::after,
     :before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        max-width: 1920px;
        background: #FFFFFF;
        font-family: 'Roboto';
        color: #000000;
    }
    
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0px 1px 4px 4px rgba(45, 47, 49, 0.31);
        background-color: #fff;
    }
    
    .header-lng {
        margin-left: 40px;
        margin-top: 10px;
    }
    
    .logo {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .header-link {
        display: inline-block;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    .container {
        height: auto;
        overflow: scroll;
        padding: 40px;
    }
    
    h2,
    .sidebar-link {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    h2::before {
        content: "";
        display: block;
        margin-bottom: 10px;
        width: 80px;
        height: 12px;
        background-color: #000000;
    }
    
    .list {
        position: fixed;
        top: 80px;
        margin-left: 40px;
        margin-top: 20px;
    }
    
    .list li {
        margin-bottom: 90px;
    }
    
    .sidebar {
        width: 600px;
        display: inline-block;
    }
    
    .content {
        width: 700px;
        display: inline-block;
        margin-top: 60px;
    }
    
    section {
        scroll-margin-top: 50px;
    }
    
    p {
        margin-bottom: 30px;
    }
    
    .text-underline {
        text-decoration: underline;
    }
    
    .text-bold {
        font-weight: bold;
    }
    
    .background-img {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    
    .link-task {
        font-weight: bold;
        margin-left: 40px;
        text-decoration: underline;
    }